<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<script src="script.js" defer></script>
	<title>Document</title>
</head>

<body>
	<div class="container_wrapper" id="task_management3" 
	@dragover.prevent="wrapper_drag_over($event)">
	<div v-for="(category, index) in items" :key="index" 
			:class="`container container1 con${category.id}`" 
			@dragstart="container_dragging_start($event,category)"
			@dragend="container_dragging_end($event)"
			@drop="container_dragging_drop()"
			@dragover.prevent="container_dragging_over($event)"
			:data-index="index"
			:draggable="true">
			<p>{{category.title}}-{{category.serial}}</p>
			<p class="draggable" 
				v-for="(item, index2) in category.childrens" :key="index2" 
				@dragstart="item_dragging_start($event)"
				@dragend="item_dragging_end($event)"
				:draggable="true">
				{{item.title}}
			</p>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="container_wrapper">
		<div class="container container2" draggable>
			<p class="container_draggable" >box 2</p>
			<p class="draggable" draggable="true">3</p>
			<p class="draggable" draggable="true">4</p>
		</div>
		<div class="container container3" draggable>
			<p class="container_draggable" >box 3</p>
			<p class="draggable" draggable="true">5</p>
			<p class="draggable" draggable="true">6</p>
		</div>
	</div>

</body>

</html>