<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="wserialth=device-wserialth, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="styles.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
	<script src="script.js" defer></script>
	<title>Document</title>
</head>

<body>
	<style>
		.drop-zone {
			background-color: #eee;
			margin-bottom: 10px;
			padding: 10px;
		}

		.drag-el {
			background-color: #fff;
			margin-bottom: 10px;
			padding: 5px;
		}
	</style>
	<div class="" id="task_management2">
		<div style="display: flex; gap: 20px; flex-wrap: wrap;">
			<div class="drop-zone" 
				v-for="(parent, index1) in items" 
				:key="index1"
				@drop="onDrop($event, parent)" 
				@dragover="onDragOver($event, parent)"
				@dragover.prevent 
				@dragenter.prevent>

				<p>{{parent.title}}</p>

				<div v-for="(item, index) in parent.childrens" 
					@dragend="onDragEnd"
					@dragstart="startDrag($event, item, index, parent)" 
					:key="index" 
					:data-serial="item.serial" 
					:data-index="index"
					draggable 
					class="drag-el">

					<a href="#">adsf a</a>
					{{ item.title }}
					
				</div>

			</div>
		</div>
	</div>

	<div class="drop-zone" @drop="onDrop($event, 1)" @dragover="onDragOver($event, 1)" @dragover.prevent
		@dragenter.prevent>
		<div v-for="(item, index) in listOne" :key="index" @dragend="onDragEnd" @dragstart="startDrag($event, item)"
			:data-serial="item.serial" :data-index="index" class="drag-el">
			<button class="drag_btn" draggable>drug</button>
			{{ item.title }}
		</div>
	</div>
	<!-- @dragover="onDragOver($event, 2)" -->
	<div class="drop-zone" @drop="onDrop($event, 2)" @dragover="onDragOver($event, 2)" @dragend="onDragEnd"
		@dragover.prevent @dragenter.prevent>
		<div v-for="(item, index) in listTwo" :key="index" @dragstart="startDrag($event, item)"
			:data-serial="item.serial" :data-index="index" class="drag-el">
			<button class="drag_btn" draggable>drug</button>
			{{ item.title }}
		</div>
	</div>
</body>

</html>